<form>
    <h1>{{formHeaderText}}</h1>
    <br>
    <h4>{{formLogin}}</h4>
    <div class="form-group">
        <label for="email">Email/Username</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email">
        
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password">
    </div>
    
    <button class="btn btn-primary" type="button" (click)="onLoginClick()">Login</button>

</form>

