
<app-login-form 
    [formHeaderText]="'First Login form in Angular'"
    (loginAttempt)="onLoginAttempt($event)"
    [formLogin]="'Login'"
></app-login-form>

<app-register-form
    [formRegister]="'Create a user'"
    (registerAttempt)="onRegisterAttempt($event)"

></app-register-form>
<router-outlet></router-outlet>