<form>
    <br>
    <h4>{{formRegister}}</h4>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter a username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter a password"> <br>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input  class="form-control"type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password">

    </div>

    <button class="btn btn-primary" type="button" (click)="onRegisterClick()">Register</button>

    

</form>
